/* Base */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #f6f7e4;
  background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    max-width: 1140px;
    padding: 0 24px;
  }
}

/* Header */
.header {
  position: absolute;
  width: 100%;
  left: 0;
}

.header__container {
  position: relative;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }
}

@media screen and (min-width: 1140px) {
  .header {
    max-width: 1140px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .header__nav {
    background-image: url("../images/bg-nav.png");
    background-repeat: no-repeat;
    background-position: 365px;
    background-size: 350px 100px;
  }
}

@media screen and (min-width: 1140px) {
  .header__nav {
    background-size: 500px;
    background-position: right;
  }
}

.header__img {
  width: 238px;
}

.header__nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__nav-list {
    display: flex;
    gap: 30px;
  }
}

@media screen and (min-width: 1140px) {
  .header__nav-list {
    gap: 51px;
  }
}

.header__nav-link {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #715d00;
}

.header__open-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: rgb(34, 56, 56);
}

@media screen and (min-width: 768px) {
  .header__open-menu {
    display: none;
  }
}

.header-icon-menu {
  width: 42px;
  height: 42px;
}

/* Hero */
.hero {
  max-width: 320px;
  margin: 0 auto;
  padding: 100px 0;
  background-image: url("../images/hero/hero-mobile.webp");
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: url("../images/hero/hero-tablet.webp");
  }
}

.hero__title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #f9e994;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 34px;
  }
}

@media screen and (min-width: 768px) {
  .hero__img {
    width: 450px;
    margin: 0 auto;
  }
}

.hero__info {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__info {
    display: block;
    width: 350px;
    margin-top: 20px;
  }
}

.hero__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 131%;
  color: #f6f7e4;
  margin-bottom: 20px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .hero__description {
    font-size: 24px;
  }
}

.hero__list {
  background-color: #7fb3e1;
  border-radius: 20px;
  padding: 10px;
}

.hero__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__item:not(:last-child) {
  margin-bottom: 20px;
}

.hero__cat-step {
  width: 18px;
  height: 24px;
}

.hero__text {
  font-weight: 700;
  font-size: 18px;
  color: #dfe4de;
  margin-bottom: 0;
}

/* Hero form */

/* About */
.about {
  max-width: 320px;
  padding: 20px 0;
  margin: 0 auto;
  background-image: url("../images/about/about-bg-1.webp");
}

.about__title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  background: linear-gradient(180deg, #f9e994 0%, #537d13 56.25%, #483c08 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.about__item {
  width: 288px;
  box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.25);
  background: #f6e791;
  border-radius: 20px;
  padding-bottom: 14px;
}

.about__image {
  margin: 0 auto;
}

.about__box {
  width: 258px;
  margin: 0 auto;
  padding: 8px 8px;
  border-radius: 20px;
  background: rgba(161, 211, 55, 0.4);
}

.about__box-title {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 12px;
}

.about__box-text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #483c08;
  margin-bottom: 0;
}
