/* Base */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #f6f7e4;
  background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    max-width: 1140px;
    padding: 0 24px;
  }
}

/* Header */
.header {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: rgb(30, 129, 210);
}

@media screen and (min-width: 768px) {
    .header {
        max-width: 768px;
    }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .header__nav {
    background-image: url("../images/bg-nav.png");
    background-repeat: no-repeat;
    background-position: 365px;
    background-size: 350px 100px;
  }
}

.header__nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__nav-list {
    display: flex;
    gap: 30px;
  }
}

@media screen and (min-width: 1140px) {
  .header__nav-list {
    gap: 51px;
  }
}

.header__nav-link {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #715d00;
}

.header__open-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: rgb(34, 56, 56);
}

@media screen and (min-width: 768px) {
  .header__open-menu {
    display: none;
  }
}

.header-icon-menu {
  width: 42px;
  height: 42px;
}

/* Hero */

