/* Base */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #f6f7e4;
  background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 767px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1139px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    max-width: 1140px;
    padding: 0 24px;
  }
}

/* Header */
.header {
  position: absolute;
  width: 100%;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .header {
    top: 0;
    left: 0;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .header__nav {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__img {
  width: 238px;
  margin: 0 auto;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  width: 288px;
  height: 64px;
  background-image: url("../images/bg-nav.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .header__nav-list {
    width: 320px;
    gap: 30px;
    margin: 0;
  }
}

@media screen and (min-width: 1140px) {
  .header__nav-list {
    width: 446px;
    height: 102px;
    gap: 51px;
  }
}

.header__nav-link {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #715d00;
}

/* Hero */
.hero {
  max-width: 767px;
  margin: 0 auto;
  padding: 200px 0;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/hero/hero-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1139px;
  }
}

@media screen and (min-width: 1140px) {
  .hero {
    max-width: 1920px;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
  color: #f9e994;
}

@media screen and (min-width: 1140px) {
  .hero__title {
    font-size: 52px;
  }
}

@media screen and (min-width: 768px) {
  .hero__img {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1140px) {
  .hero__img {
    margin: 0;
  }
}

@media screen and (min-width: 1140px) {
  .hero__img {
    position: absolute;
    left: 190px;
    top: 54px;
  }
}

.hero__info {
  width: 288px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero__info {
    display: block;
    width: 350px;
    margin: 20px 0;
  }
}

@media screen and (min-width: 1140px) {
  .hero__info {
    width: 429px;
    height: 428px;
    margin: 44px 0 0;
  }
}

.hero__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 131%;
  color: #f6f7e4;
  margin-bottom: 20px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .hero__description {
    font-size: 24px;
  }
}

@media screen and (min-width: 1140px) {
  .hero__description {
    font-size: 26px;
    margin-bottom: 60px;
  }
}

.hero__list {
  background-color: #7fb3e1;
  border-radius: 20px;
  padding: 10px;
}

@media screen and (min-width: 1140px) {
  .hero__list {
    width: 323px;
    padding: 35px 35px 38px;
  }
}

.hero__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__item:not(:last-child) {
  margin-bottom: 20px;
}

.hero__cat-step {
  width: 18px;
  height: 24px;
}

.hero__text {
  font-weight: 700;
  font-size: 18px;
  color: #dfe4de;
  margin-bottom: 0;
}

@media screen and (min-width: 1140px) {
  .hero__text {
    font-size: 22px;
  }
}

/* Hero wrapper */
.hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .hero__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1140px) {
  .hero__wrapper {
    position: relative;
  }
}

/* Timer */
.order-container {
  width: 270px;
  height: 462px;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 10px 10px;
  background: #fdfcfc;
}

@media screen and (min-width: 768px) {
  .order-container {
    margin: 0;
  }
}

.hero__time-box {
  width: 270px;
  height: 190px;
  background-image: url("../images/hero/timer-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  margin-bottom: 21px;
}

.hero__time-left {
  font-weight: 700;
  font-size: 33px;
  color: #483c08;
  text-align: center;
  margin-bottom: 8px;
}

.timer {
  font-weight: 700;
  font-size: 36px;
  color: #f6e791;
  text-align: center;
  margin-bottom: 3px;
}

.price-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 222px;
}

.height-price {
  font-weight: 700;
  font-size: 30px;
  color: #6b6b6b;
  margin-bottom: 0;
}

.low-price {
  font-weight: 700;
  font-size: 36px;
  color: #483c08;
  margin-bottom: 0;
}

.line {
  position: absolute;
  left: 0;
  border: 2px solid #f6be91;
  width: 110px;
  height: 0px;
  transform: rotate(163deg);
}

/* Form */
.form {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.form__field {
  position: relative;
}

.input__image {
  position: absolute;
  top: 13px;
  left: 13px;
}

.form__input {
  width: 222px;
  height: 50px;
  border-radius: 30px;
  padding-left: 52px;
  background-color: #f3efef;
  border: none;
  outline: none;
  transition: border 300ms linear;
}

.form__input:focus {
  border: 1px solid green;
}

.form__input::placeholder {
  font-weight: 700;
  font-size: 16px;
  color: #777;
}

.form__button {
  width: 222px;
  height: 50px;
  border-radius: 30px;
  background-color: #a1d337;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 300ms linear;
}

.form__button:hover,
.form__button:focus {
  background-color: #85a73d;
}

.order-date {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #444;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0;
}

/* About */
.about {
  max-width: 320px;
  padding: 20px 0;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .about {
    max-width: 768px;
  }
}

@media screen and (min-width: 1140px) {
  .about {
    max-width: 1920px;
    padding: 52px 0 38px;
  }
}

.about__container {
  max-width: 767px;
  background-image: url("../images/about/about-bg.webp");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .about__container {
    max-width: 1139px;
  }
}

@media screen and (min-width: 1140px) {
  .about__container {
    max-width: 1783px;
    padding: 48px 0 62px;
  }
}

.about__title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  background: linear-gradient(180deg, #f9e994 0%, #537d13 56.25%, #483c08 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 42px;
  }
}

@media screen and (min-width: 1140px) {
  .about__title {
    font-size: 52px;
    margin-bottom: 60px;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

@media screen and (min-width: 768px) {
  .about__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;
    justify-content: center;
  }
}

@media screen and (min-width: 1140px) {
  .about__list {
    gap: 84px;
  }
}

.about__item {
  width: 288px;
  box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.25);
  background: #f6e791;
  border-radius: 20px;
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .about__item {
    width: 305px;
  }
}

.about__image {
  margin: 0 auto;
}

.about__image-flower {
  margin: 20px auto 28px;
}

.about__image-food {
  margin: 14px auto 12px;
}

.about__box {
  width: 250px;
  height: 225px;
  margin: 0 auto;
  padding: 14px 8px;
  border-radius: 20px;
  background: rgba(161, 211, 55, 0.4);
}

@media screen and (min-width: 768px) {
  .about__box {
    width: 275px;
    padding: 21px 16px;
  }
}

.about__box-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .about__box-title {
    margin-bottom: 19px;
  }
}

.about__box-text {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #483c08;
  margin-bottom: 0;
}

/* Result */
.result {
  max-width: 767px;
  margin: 0 auto;
  padding: 20px 0;
  background-image: linear-gradient(
      180deg,
      #e1edf8 0%,
      rgba(127, 179, 225, 0) 59.38%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    url("../images/result/result-bg.webp");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .result {
    max-width: 1139px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1140px) {
  .result {
    max-width: 1920px;
    padding-bottom: 150px;
  }
}

.result__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .result__content {
    flex-direction: row;
    justify-content: center;
    gap: 36px;
  }
}

@media screen and (min-width: 1140px) {
  .result__content {
    gap: 28px;
  }
}

.result__title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #537d13;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .result__title {
    font-size: 42px;
  }
}

@media screen and (min-width: 1140px) {
  .result__title {
    font-size: 52px;
    margin-bottom: 52px;
  }
}

.result__text-box {
  background-image: url("../images/result/result-border.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px 45px 20px 20px;
}

@media screen and (min-width: 1140px) {
  .result__text-box {
    background-image: url('../images/result/result-border-desktop.png');
    width: 760px;
    height: 354px;
    padding: 40px 98px 40px 40px;
  }
}

.result__text {
  width: 260px;
  font-weight: 400;
  font-size: 14px;
  line-height: 128%;
  color: #483c08;
  margin-bottom: 0;
}

@media screen and (min-width: 1140px) {
  .result__text {
    width: 622px;
    font-size: 18px;
  }
}

